{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-2">
        <img src="{{ user.getWebPath | imagine_filter('profile')}}">
    </div>

    <p>{{ 'profile.show.name'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
