<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Project name</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('upload') }}">Upload!</a></li>
                    <li><a href="{{ path('explore') }}">Explore</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <p class="navbar-btn">
                                {{ app.user.username }}
                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default">Logout</a>
                            </p>
                        {% else %}
                            <p class="navbar-btn">
                                <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Login</a>
                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">Register</a>
                            </p>
                        {% endif %}

                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
{% endblock %}

<div class="container-fluid">
    {% block body %}
        {% block main %}{% endblock %}
    {% endblock %}
</div>


{% block footer %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.0.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
