{% extends 'base.html.twig' %}

{% block body_id 'image_detail' %}

{% block main %}

    {% for flash_message in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}


    <div class="row">

        <div class="col-md-7">
            <div class="thumbnail">
                <img src="{{ image.getWebPath | imagine_filter('explore') }}" />

                {% include "components/caption.html.twig" with {'image': image} %}
            </div>
        </div>

        <div class="col-md-5">

            <div class="row">
                <div class="col-md-6">
                    <p>{{ 'taken_on'|trans }} {{ exif.DateTime|date('d m Y') }}</p>
                    <p><span class="glyphicon glyphicon-time"></span> {{ exif.ExposureTime }}</p>
                </div>
                <div class="col-md-6">
                    <p><span class="glyphicon glyphicon-camera"></span> {{ exif.Make }} {{ exif.Model }}</p>
                    <p><span class="glyphicon glyphicon-flag"></span> {{ exif.ISOSpeedRatings }}</p>
                </div>
            </div>

            {% if image.tags|length > 0 %}
                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-tags"></span>
                        <ul id="tags" class="list-inline">
                        {% for tag in image.tags %}
                            <li>
                                <a class="btn btn-xs btn-default" href="{{ path('images_tags', {'tag': tag.name }) }}">
                                {{ tag.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="comments">
                <ul class="list-unstyled">
                    {% for comment in image.comments %}
                        <li>
                            <a href="{{ path('images_user', {'user': comment.user}) }}"><strong>{{ comment.user }}</strong></a>
                            <span class="comment-date"><time>{{ comment.publishedAt|time_ago_in_words }}</time></span>
                            <p>{{ comment.content }}</p>
                        </li>
                    {% else %}
                        <div class="image-comment">
                            <p>{{ 'no_comments'|trans }}</p>
                        </div>
                    {% endfor %}
                </ul>
            </div>

            <div id="image-add-comment">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('AppBundle:Image:commentForm', { 'id': image.id })) }}
                {% else %}
                    <p>
                        <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-in"></i>{{ 'button.log_in'|trans }}
                        </a>
                        {{ 'action.log_in.message'|trans }}
                    </p>
                {% endif %}
            </div>


        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).on("click", ".remove", function(e) {
            bootbox.confirm({
                size: 'small',
                message: "Are you sure?",
                callback: function(result){
                    if(result){
                        window.location='{{ path('image_remove', {'id': image.id }) }}'
                    }
                }
            })
        });
    </script>
{% endblock %}